﻿@using CraftAndDesignCouncil.Domain

@model IEnumerable<ApplicationForm>
           
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of application forms</h2>

@foreach (ApplicationForm form in Model)
{
    <a href="ApplicationFormSection/Edit/@form.Id">Continue with form @form.Id (started on @form.StartedOn)</a><br />
}



<a href="/ApplicationForm/Create">Start a new application</a>