@using Orchard.ContentManagement
@using oforms.Models
<fieldset class="save-button">
    <button class="primaryAction" type="submit" name="apply" value="submit.Apply">@T("Apply")</button>
    <button class="primaryAction" type="submit" name="submit.Save" value="submit.Save">@T("Save")</button>
</fieldset>
        