@model CharityPortal.Models.OverviewMapViewModel
@{
    ViewBag.Title = "Visualization";
}

<h2>Visualization</h2>

<div class="map-container">
    @Html.Partial("MapControl", @Model.Map)
</div>