fieldset, .fieldset { padding: 0; width: 606px; border: 0; }
fieldset, .fieldset, .form-row { padding-bottom: 16px; position: relative; }

.form-brd {}
.form-col { width: 298px; float: left; }
.form-col-r { width: 298px; float: right; }
.form-row { height: 22px; z-index: 1; }
.form-row input { float: right; width: 160px; }
.form-row label { margin-right: 5px; text-align: right; width: 117px; float: left; }
.submit-link {text-decoration: underline; cursor:pointer; border:1px solid red}