html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body
{
    line-height: 1;
}
ol, ul
{
    list-style: none;
}
blockquote, q
{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
    content: '';
    content: none;
}
:focus
{
    outline: 0;
}
ins
{
    text-decoration: none;
}
del
{
    text-decoration: line-through;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
.container_12, .container_16
{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16
{
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.container_12 .grid_3, .container_16 .grid_4
{
    width: 220px;
}
.container_12 .grid_6, .container_16 .grid_8
{
    width: 460px;
}
.container_12 .grid_9, .container_16 .grid_12
{
    width: 700px;
}
.container_12 .grid_12, .container_16 .grid_16
{
    width: 940px;
}
.alpha
{
    margin-left: 0;
}
.omega
{
    margin-right: 0;
}
.container_12 .grid_1
{
    width: 60px;
}
.container_12 .grid_2
{
    width: 140px;
}
.container_12 .grid_4
{
    width: 300px;
}
.container_12 .grid_5
{
    width: 380px;
}
.container_12 .grid_7
{
    width: 540px;
}
.container_12 .grid_8
{
    width: 620px;
}
.container_12 .grid_10
{
    width: 780px;
}
.container_12 .grid_11
{
    width: 860px;
}
.container_16 .grid_1
{
    width: 40px;
}
.container_16 .grid_2
{
    width: 100px;
}
.container_16 .grid_3
{
    width: 160px;
}
.container_16 .grid_5
{
    width: 280px;
}
.container_16 .grid_6
{
    width: 340px;
}
.container_16 .grid_7
{
    width: 400px;
}
.container_16 .grid_9
{
    width: 520px;
}
.container_16 .grid_10
{
    width: 580px;
}
.container_16 .grid_11
{
    width: 640px;
}
.container_16 .grid_13
{
    width: 760px;
}
.container_16 .grid_14
{
    width: 820px;
}
.container_16 .grid_15
{
    width: 880px;
}
.container_12 .prefix_3, .container_16 .prefix_4
{
    padding-left: 240px;
}
.container_12 .prefix_6, .container_16 .prefix_8
{
    padding-left: 480px;
}
.container_12 .prefix_9, .container_16 .prefix_12
{
    padding-left: 720px;
}
.container_12 .prefix_1
{
    padding-left: 80px;
}
.container_12 .prefix_2
{
    padding-left: 160px;
}
.container_12 .prefix_4
{
    padding-left: 320px;
}
.container_12 .prefix_5
{
    padding-left: 400px;
}
.container_12 .prefix_7
{
    padding-left: 560px;
}
.container_12 .prefix_8
{
    padding-left: 640px;
}
.container_12 .prefix_10
{
    padding-left: 800px;
}
.container_12 .prefix_11
{
    padding-left: 880px;
}
.container_16 .prefix_1
{
    padding-left: 60px;
}
.container_16 .prefix_2
{
    padding-left: 120px;
}
.container_16 .prefix_3
{
    padding-left: 180px;
}
.container_16 .prefix_5
{
    padding-left: 300px;
}
.container_16 .prefix_6
{
    padding-left: 360px;
}
.container_16 .prefix_7
{
    padding-left: 420px;
}
.container_16 .prefix_9
{
    padding-left: 540px;
}
.container_16 .prefix_10
{
    padding-left: 600px;
}
.container_16 .prefix_11
{
    padding-left: 660px;
}
.container_16 .prefix_13
{
    padding-left: 780px;
}
.container_16 .prefix_14
{
    padding-left: 840px;
}
.container_16 .prefix_15
{
    padding-left: 900px;
}
.container_12 .suffix_3, .container_16 .suffix_4
{
    padding-right: 240px;
}
.container_12 .suffix_6, .container_16 .suffix_8
{
    padding-right: 480px;
}
.container_12 .suffix_9, .container_16 .suffix_12
{
    padding-right: 720px;
}
.container_12 .suffix_1
{
    padding-right: 80px;
}
.container_12 .suffix_2
{
    padding-right: 160px;
}
.container_12 .suffix_4
{
    padding-right: 320px;
}
.container_12 .suffix_5
{
    padding-right: 400px;
}
.container_12 .suffix_7
{
    padding-right: 560px;
}
.container_12 .suffix_8
{
    padding-right: 640px;
}
.container_12 .suffix_10
{
    padding-right: 800px;
}
.container_12 .suffix_11
{
    padding-right: 880px;
}
.container_16 .suffix_1
{
    padding-right: 60px;
}
.container_16 .suffix_2
{
    padding-right: 120px;
}
.container_16 .suffix_3
{
    padding-right: 180px;
}
.container_16 .suffix_5
{
    padding-right: 300px;
}
.container_16 .suffix_6
{
    padding-right: 360px;
}
.container_16 .suffix_7
{
    padding-right: 420px;
}
.container_16 .suffix_9
{
    padding-right: 540px;
}
.container_16 .suffix_10
{
    padding-right: 600px;
}
.container_16 .suffix_11
{
    padding-right: 660px;
}
.container_16 .suffix_13
{
    padding-right: 780px;
}
.container_16 .suffix_14
{
    padding-right: 840px;
}
.container_16 .suffix_15
{
    padding-right: 900px;
}
html body div.clear, html body span.clear
{
    background: none;
    border: 0;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after
{
    clear: both;
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
}
.clearfix
{
    display: inline-block;
}
* html .clearfix
{
    height: 1%;
}
.clearfix
{
    display: block;
}
body
{
    background-image: url(/content/img/gradient.gif);
    background-repeat: repeat-x;
    background-color: #fff;
    line-height: 1.2em;
}
a
{
    color: #369;
    text-decoration: underline;
}
h1
{
    font-size: 2em;
}
h2
{
    font-size: 2.2em;
    margin: 1.2em 0 1.0em;
}
h3
{
    font-size: 1.6em;
    font-weight: 400;
    text-align: center;
    padding-top: .2em;
}
h4
{
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding-top: .2em;
}
body, input, select
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #666;
}
h1, h2, h3, h4, h5, h6, .result .grid_12 div .validationResult
{
    font-family: "Trebuchet MS" ,Impact,Arial,Verdana,sans-serif;
    letter-spacing: -0.05em;
    color: #369;
}
code, kbd, pre, textarea, .result .grid_12 div .jsonData
{
    font-family: "Courier New" ,Courier,monospace;
    font-size: 12px;
    color: #666;
}
.grid_12 div a, .result .grid_5 div a
{
    display: block;
    float: right;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    text-decoration: none;
    font-weight: 700;
    color: #666;
    margin: 0 0 0 10px;
    padding: 5px 10px 6px 7px;
}
.header a
{
    cursor: pointer;
}
.header h1 a
{
    display: block;
    border: 0 solid red;
    background: url(/content/img/logo3.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 40px;
    width: 234px;
    margin: 1.8em 0 .2em;
}
.header h1 a span
{
    display: none;
}
.ad
{
    margin-top: 0;
    margin-bottom: .5em;
    border: 1px solid #ccc;
    border-width: 1px 0;
    padding: 6px 5px 4px;
}
.content
{
    border-top: 1px solid #ccc;
}
.content p, .content dl, .content ul, .content ol
{
    line-height: 1.5em;
    margin: 1em 0;
}
.content ul
{
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 3em;
}
.content ol
{
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 3em;
}
.content ol li
{
    font-size: .9em;
    color: #888;
}
.content dl dt
{
    font-weight: 700;
}
.content dl dd
{
    margin-left: 3em;
}
.error
{
    background-color: #FFEDE7;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.error .grid_12 div
{
    text-align: center;
    font-weight: 700;
    margin-bottom: 2px;
}
.jsonFormatter
{
    background-color: #e7f3ff;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.jsonFormatter .grid_9
{
    width: 690px;
    margin: 10px 10px 0;
    padding: 0;
}
.jsonFormatter .grid_9 div textarea
{
    width: 340px;
    height: 18em;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 5px;
}
.jsonFormatter .grid_3
{
    width: 208px;
    margin: 10px 10px 0;
}
.jsonFormatter .grid_3 div select
{
    border: 1px solid #ccc;
    width: 208px;
    padding: 5px;
}
.jsonFormatter .grid_3 div textarea
{
    width: 196px;
    height: 10em;
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 5px;
}
.jsonFormatter .grid_12 div input.text
{
    width: 905px;
    border: 1px solid #ccc;
    padding: 5px;
}
.jsonFormatter .grid_12 div #formatterBusy
{
    position: absolute;
}
.result
{
    background-color: #E7FFE8;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.result .grid_7
{
    width: 550px;
    margin: 10px 10px 0;
    padding: 0;
}
.result .grid_7 div
{
    overflow: hidden;
    margin-top: 0;
}
.result .grid_7 div strong
{
    font-size: 1.8em;
    line-height: 1.2em;
}
.result .grid_7 div span
{
    font-size: .9em;
    color: #999;
}
.result .grid_5
{
    width: 348px;
    margin: 10px;
}
.result .grid_12
{
    width: 918px;
    margin-top: 0;
    margin-bottom: 10px;
    overflow: hidden;
}
.result .grid_12 div .validationResult
{
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    padding: 5px;
}
.result .grid_12 div .valid
{
    background-color: #55B05A;
}
.result .grid_12 div .invalid
{
    background-color: #D23D24;
}
.result .grid_12 div .validationOutput
{
    background-color: #FFF;
    border: 1px solid #ccc;
    line-height: 1.8em;
    overflow: auto;
    padding: 5px;
}
.result .grid_12 div .validationOutput .type
{
    display: block;
    width: 7em;
    float: left;
}
.result .grid_12 div .validationOutput em
{
    font-size: .9em;
    color: #ccc;
}
.result .grid_12 div .jsonData
{
    background-color: #FFF;
    border: 1px solid #ccc;
    height: 20em;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
}
.result .grid_12 div .jsonData .error
{
    background-color: #D23D24 !important;
    margin-bottom: 0;
    border: 0 solid #888;
    color: #fff !important;
}
.result .grid_12 div .jsonData .warning
{
    background-color: #FFD400 !important;
}
.result .grid_12 div .jsonData .sColon, .result .grid_12 div .jsonData .sComma
{
    color: #333;
}
.result .grid_12 div .jsonData .sObjectK
{
    color: #666;
    font-weight: 700;
}
.result .grid_12 div .jsonData .sBrace
{
    color: #666;
}
.footer
{
    text-align: center;
    margin: 3em 0 1em;
}
#curiousHeader
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
    color: #333;
    border-bottom: 1px solid #999;
    line-height: 1.2em;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
#curiousHeader div
{
    width: auto;
    font-size: 1em !important;
    padding: .1em .2em;
}
#curiousHeader div a:link, #curiousHeader div a:visited
{
    text-decoration: none;
    color: #333;
}
#curiousHeader div a:hover, #curiousHeader div a:active
{
    text-decoration: underline;
    color: #333;
}
#curiousHeader div.center
{
    text-align: center;
}
div.grippie
{
    background: #f5f5f5 url(../images/grippie.gif) no-repeat scroll center 2px;
    border: 1px solid #ccc;
    cursor: s-resize;
    height: 10px;
    overflow: hidden;
    margin-top: -1px;
    border-width: 0 1px 1px;
}
.resizable-textarea textarea
{
    display: block;
    margin-bottom: 0;
    width: 95%;
    height: 20%;
}
.error .grid_12, .jsonFormatter .grid_12
{
    width: 918px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.error .grid_12 div img, .result .grid_12 div .validationOutput img
{
    margin-bottom: -3px;
}
.grid_9 div, .grid_3 div, .result .grid_5 div, .result .grid_12 div
{
    overflow: hidden;
}
.grid_12 div a img, .result .grid_5 div a img
{
    border: none;
    width: 16px;
    height: 16px;
    margin: 0 3px -3px 0 !important;
    padding: 0;
}
.result .grid_12 div .jsonData .sArrayV, .result .grid_12 div .jsonData .sObjectV, .result .grid_12 div .jsonData .sBracket
{
    color: #888;
}