@using CraftAndDesignCouncil.Domain

@model Applicant
           
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <h2>Goldsmiths' Craft &amp; Design Council: Craftsmanship &amp; Design Awards</h2>
        <div>
            <div>
                @(Html.ActionLink<ApplicationController>(c => c.Index(), "Create New Application"))
            </div>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
</div>