@using CraftAndDesignCouncil.Domain

@model Applicant
           
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <div>
            <div>
                @(Html.ActionLink<ApplicationController>(c => c.Index(), "Create New Application"))
                <br />
                @(Html.ActionLink<AdminController>(c => c.Index(), "Admin area"))
            </div>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
</div>