<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DataContextContainer" connectionString="metadata=res://*/DataContext.csdl|res://*/DataContext.ssdl|res://*/DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=212.67.209.120;initial catalog=charityportal;user id=charity;password=portal2011;multipleactiveresultsets=True;App=CharityPortal.ResourceMatcher&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
