@using (Script.Foot())
{
    Style.Require("jQueryUI_Orchard");
    Script.Require("jQueryUI_Core");
    Script.Require("jQueryUI_widget");
    Script.Require("jQueryUI_dialog");
    Script.Require("jQueryUI_button");
    Script.Require("jQueryUI_position");

	<div id="dialog" title="Confirmation Required"></div>
	<script type="text/javascript">
	    $(document).ready(function () {
	        $("#dialog").dialog({
	            autoOpen: false,
	            modal: true,
                width: 400,
                resizable: false
	        });
	    });

	    $(".confirmLink").click(function (e) {
	        e.preventDefault();
	        var targetUrl = $(this).attr("href");
	        $("#dialog").html("Are you sure you want to delete " + $(this).attr("title") + "?");
	        $("#dialog").dialog({
	            buttons: {
	                "Confirm": function () {
	                    var form = jQuery("#oforms_mainGrid form");
	                    form.attr("action", targetUrl);
	                    form.submit();
	                },
	                "Cancel": function () {
	                    $(this).dialog("close");
	                }
	            }
	        });

	        $("#dialog").dialog("open");
	    });
	</script>
}