@{ Layout.Title = T("Manage alternate layouts for layers").ToString(); }

<div class="manage">
@T("No layers are currently defined, add one: ")
@Html.ActionLink(T("+ Add a layer").ToString(), "AddLayer", new { Area = "Orchard.Widgets"  })
</div>