@using CraftAndDesignCouncil.Web.Mvc.Controllers.ViewModels;

@model ApplicationFormSectionViewModel

@{
    ViewBag.Title = "ApplicationFormSection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ApplicationFormSection</h2>

<h3>@Model.SectionTitle</h3>

@foreach (QuestionAndAnswerViewModel qa in Model.Questions)
{
    @qa.QuestionText <br />
}

