@model CraftAndDesignCouncil.Web.Mvc.Controllers.ViewModels.ApplicationFormSectionViewModel

@{
    ViewBag.Title = "ApplicationFormSection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ApplicationFormSection</h2>

<h3>@Model.SectionTitle</h3>

