@model CharityPortal.Data.Organization

@{
    ViewBag.Title = "Details";
}

<h2>Organization Details</h2>

<fieldset>
    <legend>Organization</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Contact Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactEmail)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
